.current {
  background-image: linear-gradient(135deg, $color-secondary, $color-primary);
  background-size: cover;
  width: 100vw;

  @include tablet-portrait {
    height: fit-content;
  }

  &__wrapper {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: 50rem 50rem;
    grid-template-rows: 12rem 40rem auto;
    padding: 8rem 15vw 0 15vw;

    @include laptop {
      grid-template-columns: 40rem 40rem;
    }

    @include laptop-small {
      grid-template-columns: 38rem 38rem;
      grid-template-rows: 10rem 36rem auto;
      padding: 4rem 10vw 0 10vw;
    }

    @include tablet-landscape {
      grid-template-columns: 36rem 36rem;
      padding: 4rem 8vw 0 8vw;
    }

    @include tablet-portrait {
      grid-template-columns: auto;
      grid-template-rows: 12rem repeat(3, auto);
      justify-content: center;
      padding: 4rem 0;
    }

    @include phone-large {
      padding-left: 4rem;
    }
  }

  &__timestamp {
    color: $color-white;
    font-size: $font-size-s;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;

    @include tablet-portrait {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    p {
      margin-bottom: 2rem;
      font-size: $font-size-xs;
    }
  }

  &__overview {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    @include tablet-portrait {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }

  &__detailed {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;

    @include tablet-portrait {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
  }

  &__button-box {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

    @include tablet-portrait {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
      padding-top: 4rem;
    }
  }
}
