.current-overview {
  color: $color-white;

  &__container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
  }

  &__temp {
    font-size: 10rem;

    @include phone-large {
      font-size: 8rem;
    }

    &--deg {
      font-size: 10.5rem;
      margin-left: 0.8rem;

      @include phone-large {
        font-size: 8.5rem;
      }
    }
  }

  &__condition {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
  }

  &__icon {
    font-size: $font-size-l;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: $font-size-m;

    @include phone-large {
      font-size: $font-size-s;
    }
  }

  &__location {
    display: flex;
    font-size: $font-size-m;
    margin-bottom: 5rem;

    font-size: $font-size-s;

    &--icon {
      flex: 0;
    }

    &--text {
      flex: 1;
      margin-left: 1rem;
    }
  }

  &__high-low {
    display: flex;
    flex-direction: column;
    font-size: $font-size-s;

    @include tablet-portrait {
      flex-direction: row;
    }

    @include phone-small {
      flex-direction: column;
    }
  }

  &__low {
    @include tablet-portrait {
      margin-left: 4rem;
    }

    @include phone {
      margin-left: 3rem;
    }

    @include phone-small {
      margin-left: 0;
    }
  }

  &__high,
  &__low {
    align-items: center;
    display: flex;
    margin-bottom: 2rem;

    @include phone-small {
      line-height: 1.5;
    }
  }

  &__high-icon,
  &__low-icon {
    font-size: 3rem;
  }

  &__high-text,
  &__low-text {
    margin-left: 1rem;
  }
}
