.current-detailed {
  color: $color-white;
  display: grid;
  font-size: 1.6rem;
  grid-row-gap: 1rem;
  grid-template-rows: repeat(3, 12rem);
  padding-top: 10rem;
  text-align: center;

  @include tablet-portrait {
    padding: 0;
    text-align: left;
  }

  i {
    font-size: $font-size-m;
    margin-bottom: 1.2rem;
  }

  &__sunrise-sunset,
  &__atmosphere,
  &__wind {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: 4rem 8rem;
    line-height: 2.2rem;

    @include tablet-landscape {
      grid-template-columns: repeat(2, 18rem);
    }

    @include phone {
      grid-template-columns: repeat(2, auto);
    }
  }

  &__sunrise-sunset {
    grid-row: 1 / span 1;
  }

  &__sunrise {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  &__sunset {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  &__atmosphere {
    grid-row: 2 / span 1;
  }

  &__humidity {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  &__visibility {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  &__wind {
    grid-row: 3 / span 1;
  }

  &__wind-dir {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  &__wind-speed {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
}
