@import '../mixins/text-gradient';

.forecast-card {
  align-items: center;
  background: $color-white;
  color: $color-dark-grey;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  padding: 4rem 0;
  width: 50vw;

  &__heading {
    border-bottom: 1px solid $color-offwhite;
    font-size: $font-size-s;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  &__title {
    @include text-gradient($color-primary, $color-secondary);
    margin-bottom: 1rem;
  }

  &__list {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(8, 10rem);
  }

  &__list-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__hour {
    @include text-gradient($color-primary, $color-secondary);
    font-size: $font-size-s;
    margin-bottom: 1rem;
  }

  &__weather {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $font-size-s;
    text-align: center;
  }

  &__temp {
    display: flex;
    margin-bottom: 1rem;
  }
}
