.forecast {
  background-image: linear-gradient(135deg, $color-secondary, $color-primary);
  background-size: cover;
  display: flex;
  height: fit-content;
  padding: 8rem 0;
  padding-left: 15vw;
  width: 100vw;

  @include desktop-med {
    justify-content: center;
    padding-left: 0;
  }
}
