.forecast-card {
  background: $color-white;
  color: $color-dark-grey;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 0.75fr;
  margin-right: 2rem;
  padding: 4rem;

  &__heading {
    grid-row: 1 / span 1;
    margin-bottom: 2rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__data {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  &__list-item {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin-bottom: 2rem;
  }

  &__hour {
    margin-right: 2rem;
  }

  &__weather {
  }

  &__temp {
    display: flex;
    margin-bottom: 1rem;
  }
}
