@import '../mixins/text-gradient';

.header {
  align-items: center;
  box-shadow: 0 0.5rem 3rem -0.8rem rgba($color-grey, 0.5);
  display: grid;
  grid-column: 1 / span 4;
  grid-column-gap: 4rem;
  grid-row: 1;
  grid-template-columns: 0.55fr 3fr;

  @include tablet-portrait {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 0;
    padding: 2.5rem 0;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    @include tablet-portrait {
      margin: 2rem 0;
    }

    @include phone {
      margin: 1rem 0;
    }

    @include phone-small {
      margin: 0;
    }
  }

  &__logo-text {
    @include text-gradient($color-primary, $color-secondary);
    flex: 1;
    font-size: 4rem;
    margin: 0;
    margin-left: 1.25rem;

    @include phone-large {
      font-size: 3.5rem;
    }

    @include phone-small {
      font-size: 2.5rem;
    }
  }

  &__logo {
    @include text-gradient($color-primary, $color-secondary);
    flex: 0;
    font-size: 6rem;
    margin-left: 8rem;
    padding: 2rem 0;

    @include tablet-landscape {
      margin-left: 2rem;
    }

    @include tablet-portrait {
      margin-left: 0;
    }

    @include phone-large {
      font-size: 5rem;
    }

    @include phone-small {
      font-size: 3.5rem;
    }
  }

  &__search-container {
    grid-column: 2 / span 2;

    @include laptop-small {
      grid-column: 2 / span 3;
    }

    @include tablet-landscape {
      margin-right: 2rem;
    }

    @include tablet-portrait {
      margin-right: 0;
    }
  }
}
