@import '../mixins/text-gradient';

.header {
  align-items: center;
  box-shadow: 0 0.5rem 3rem -0.8rem rgba($color-grey, 0.5);
  display: grid;
  grid-column: 1 / span 4;
  grid-row: 1;
  grid-template-columns: 0.9fr 1fr 1.2fr 0.9fr;

  &__logo-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 0;
    padding: 2.5rem 0;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__logo-text {
    @include text-gradient($color-primary, $color-secondary);
    flex: 1;
    font-size: 4rem;
    margin: 0;
    margin-left: 1.25rem;
  }

  &__logo {
    @include text-gradient($color-primary, $color-secondary);
    flex: 0;
    font-size: 6rem;
    margin-left: 8rem;
    padding: 2rem 0;
  }

  &__search-container {
  }
}
