.landing {
  background-image: linear-gradient(135deg, $color-white, $color-offwhite);
  grid-column: 1 / span 3;
  width: 100vw;

  &__wrapper {
    align-items: center;
    display: flex;
  }

  &__copy {
    color: $color-dark-grey;
    line-height: 2;
    text-align: justify;
    width: 25vw;
  }

  &__heading {
    font-size: $font-size-m;
    margin-bottom: 3rem;
  }

  &__paragraph {
    font-size: $font-size-xs;
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__image {
    grid-column: 1 / span 2;
    padding: 8rem;
    width: 40vw;
  }
}
