@import "../mixins/text-gradient";

.header {
  display: flex;
  padding: 3rem 0;

  &__logo-text {
    @include text-gradient($color-purple, $color-crimson);
    flex: 1;
    font-size: 4rem;
    margin: 0;
  }

  &__logo {
    @include text-gradient($color-purple, $color-crimson);
    flex: 0;
    font-size: 6rem;
    padding: 2rem;
  }
}
