.not-found {
  background-image: linear-gradient(135deg, $color-secondary, $color-primary);
  background-size: cover;
  color: $color-white;
  font-size: $font-size-m;
  padding: 8rem 0 0 15vw;
  width: 100vw;

  @include tablet-portrait {
    padding-left: 0;
    text-align: center;
  }

  @include phone {
    padding: 4rem 6rem 0 6rem;
  }

  & > p {
    grid-column-start: 2;
  }
}
