.search {
  color: $color-dark-grey;
  font-size: $font-size-s;

  &__input {
    border: none;
    border-bottom: 1px solid $color-dark-grey;
    height: 2.7rem;
    padding: 0 0.75rem 0.5rem 0.75rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    @include phone-med {
      width: 25rem;
    }
  }

  &__option {
    border: none;
    border-bottom: 1px solid $color-dark-grey;
    height: 2.7rem;
    margin-left: 2.5rem;
    padding: 0 0 0.5rem 0;

    @include phone-med {
      margin-left: 1rem;
    }
  }

  &__icon {
    background: none;
    border: none;
    color: $color-dark-grey;
    font-size: 1.6rem;
    height: 3.5rem;
    margin-left: 1.6rem;
    width: 3.5rem;
    text-align: center;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
    }

    @include phone-med {
      margin-left: 1rem;
    }
  }
}
