/* COLORS
========================================== */
$color-primary: #5f27cd;
$color-secondary: #a55eea;

$color-black: #000;
$color-dark-grey: #576574;
$color-grey: #999;

$color-white: #fff;
$color-offwhite: #f1f2f6;

/* FONT SIZES
========================================== */
$font-size-xs: 1.6rem;
$font-size-s: 1.8rem;
$font-size-m: 2.8rem;
$font-size-l: 5rem;
$font-size-xl: 8rem;

/* BUTTON SHADOWS
========================================== */
$button-shadow-hover: 0.2rem 1rem 2rem rgba($color-black, 0.15);
$button-shadow-active: 0.1rem 0.5rem 1rem rgba($color-black, 0.15);
