/* COLORS
========================================== */
$color-primary: #4a00e0;
$color-secondary: #8e2de2;

$color-dark-grey: #343434;

$color-white: #fff;

/* FONT SIZES
========================================== */
$font-size-16: 1.6rem;
